.jumbotron {
  margin: 40px 0 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }
  
  h4 [class*=" icon-"], h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }
}

p.true {
  text-decoration: line-through;
  color: grey;
}

#flash-messages {
  position: fixed;
  background-color: rgba(255, 191, 0, 0.75);
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  width: 200px;
  top: 50px;
  left: 50%;
  margin-left: -100px;
  border-radius: 5px;
  font-size: .7em;
}

.slide-down { display: none !important; }
.slide-down.ng-hide-remove {
  display: block !important;
  animation:
  slide-down-enter 250ms ease-out,
  slide-down-leave 500ms 3s ease;
}

@keyframes slide-down-enter {
  from { opacity: 0; transform: translateY(-75%); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slide-down-leave {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(75%); }
}